.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

* {
	box-sizing: border-box;
	/*border: 1px solid #1e54c0;*/ /*This is the blue border stuff*/
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

[class*="col-"] {
	float: right;
	padding: 15px;
}

/* For mobile phones:*/
[class*="col-"] {
	width: 100%;
}


@media only screen and (min-width: 768px) {
	/* For desktop*/
	.col-1 {
		width: 8.33%;
	}
	.col-2 {
		width: 16.66%;
	}
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.33%;
	}
	.col-5 {
		width: 41.66%;
	}
	.col-6 {
		width: 50%;
	}
	.col-7 {
		width: 58.33%;
	}
	.col-8 {
		width: 66.66%;
	}
	.col-9 {
		width: 75%;
	}
	.col-10 {
		width: 83.33%;
	}
	.col-11 {
		width: 91.66%;
	}
	.col-12 {
		width: 100%;
	}
}

.fancy-button{
	background-color: rgb(25, 130, 148);
	color: white;
	border: none;
	padding: .8em;
	text-align:center;
	font-size: 16px;
	display: inline-block;
	margin: 4px 4px;
	border-radius: 4px;
	cursor: pointer;
}

.fancy-button:hover {
	background:rgb(34, 158, 180);
	
	box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px;
}

.transparent{
	position:fixed;
	top: 0;
	right:0;
	background-color: #fcfcfc00;
	border: none;
	color:whitesmoke;
	border-radius: 8px;
	font-size: 25px;
}
.transparent:hover{
	background-color: white;
	color: black;
}

.sectionHeader{
	padding-top: .8em;
}

.fixed-button-background{
	border-top: 1px solid #115b67;
	position:absolute;
	background-color:white;
	width: 100vw;
	height: 5em;
	bottom: -2em;
	right: -2em;
}